<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gabinet stomatologiczny</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myedits.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
</head>

<body>
    <section class="hero is-fullheight">

        {% include 'patient/navbar.html' %}

            <div class="container">
                <div class="box main" style="max-width: 700px; margin-top: 10px;">
                        <div class="field">
                            <label class="label">Nazwa gabinetu</label>
                                <div class="control has-icons-left">
                                    <input class="input is-static" type="text" name="name" placeholder="Nazwa gabinetu" value="{{list_office[0]}}">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                        </div>
                   
                        <div class="field">
                            <label class="label">Adres</label>
                            <div class="columns">
                                <div class="column">
                                    <div class="control has-icons-left">
                                        <input class="input is-static" type="text" name="city" placeholder="Miasto" value="{{list_office[1]}}">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-city"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="control has-icons-left">
                                        <input class="input is-static" type="text" name="street" placeholder="Ulica" value="{{list_office[2]}}">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-home"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="column is-one-quarter">
                                    <div class="control has-icons-left">
                                        <input class="input is-static" type="text" name="street_number" placeholder="Nr domu/mieszkania" value="{{list_office[3]}}">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-home"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Numer telefonu</label>
                            <div class="control has-icons-left">
                                <input class="input is-static" type="text" name="phone_number" value="{{list_office[4]}}">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control has-icons-left">
                                <input class="input is-static" type="text" name="email" value="{{list_office[5]}}">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                    
                <table id="myTable">
                    <tr class="header">
                      <th style="width: 10%;">ID</th>
                      <th style="width: 75%;">Usługa</th>
                      <th style="width: 15%;">Cena</th>
                    </tr>
                    {% for row in list_services %}
                      {% for cell in row %}
                      <td>{{cell}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </table> 
                </div>
                
            </div>
    </section>
  </body>
</html>