<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myedits.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />


    <script>
          function myFunction() {
          var input = document.getElementById("myInput");
          var filter = input.value.toUpperCase();
          var table = document.getElementById("myTable");
          var trs = table.tBodies[0].getElementsByTagName("tr");
          for (var i = 0; i < trs.length; i++) {
            var tds = trs[i].getElementsByTagName("td");
            trs[i].style.display = "none";
            for (var i2 = 0; i2 < tds.length; i2++) {
              if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {
                trs[i].style.display = "";
                continue;
              }
            }
          }
        }
    </script>

</head>

<body>
    <section class="hero is-fullheight">

        {% include 'doctor/navbar.html' %}

        <div class="hero-body">
            <div class="container has-text-centered">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wyszukaj..">

              <table id="myTable">
                <tr class="header">
                  <th>Imie</th>
                  <th>Nazwisko</th>
                  <th>Pesel</th>
                  <th>Miasto</th>
                  <th>Ulica</th>
                  <th>Numer telefonu</th>
                </tr>
                {% for row in list %}
                <tr>
                  {% for cell in row %}
                  <td>{{cell}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table> 
        </div>
      </div>
    </section>
  </body>
</html>